{% extends 'base.html.twig' %}

{% block title %} - Welcome{% endblock %}
{% block layouttype %}one-column{% endblock %}

{% block body %}
    <p class="placeholder">[:: Hier könnte Ihre Werbung stehen. ::]</p>
{% endblock %}
