{% extends 'base.html.twig' %}

{% block title %} - Home{% endblock %}
{% block body %}
{#    <div id="main-description">#}
        <p>
            Were you ever in a store and thought: "Did I already have this flick in my DVD collection?", or have you
            ever bought a new blu-ray only to realize at home you now own it twice? Well, it happened to me, and not
            only once. And that's where Pollux comes in, my personal solution to my very personal problem: My weird
            brain.
        </p>
        <p class="center-text bold-text">
            The main purpose of this is to help manage your medias like DVD, blu-ray or books.
        </p>
        <p>
            If you're asking yourself now: "For Mike's sake, who the heck has still books, blu-rays or even DVDs at
            home?" - Well I guess this tool isn't for you. - And frankly, I build this primarily for me, but if some
            other dudes like and use it once it is finished, I'm glad.
        </p>
{#    </div>#}
{% endblock %}
