/*
 * main navigation
 */
.nav-main {
    display: flex;
    flex-direction: row;
    background: #003f55;
    border-radius: 5px;
    max-width: 1400px;
    margin: 0 auto 20px auto;
    padding: 0 15px;
}

    .nav-main .nav-item {
    }
    .nav-main .nav-item:hover {
        background: #005f78;
    }

        .nav-main .nav-item a {
            display: inline-block;
            height: 100%;
            padding: 10px;
            font-size: 1.3em;
            font-weight: 700;
            color: #ffffaa;
            text-decoration: none;
        }
        .nav-main .nav-item a:hover {
            width: 100%;
            color: #acac64;
        }

/*
 * sidebar navigation
 */
.nav-sidebar {
}

    .nav-sidebar .nav-item {
        font-size: 0.8em;
    }

        .nav-sidebar .nav-item a {
            display: inline-block;
            height: 100%;
            padding: 10px;
            font-size: 1.3em;
            font-weight: 700;
            color: #ffffaa;
            text-decoration: none;
        }