[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Storing UUID Values in MySQL Tables | MySQL Server Blog
Type=Link
URL=https://mysqlserverteam.com/storing-uuid-values-in-mysql-tables/
Icon=text-html
