@CHARSET "UTF-8";

@import url(/skins/default/css/layout.css);
@import url(/skins/default/css/common.css);
@import url(/skins/default/css/navigation.css);
@import url(/skins/default/css/forms.css);
@import url(/skins/default/css/main.css);


#wfOverview {
	padding: 50px;
}

#wfOverview ul {
	list-style-type: square;
	margin: 0 0 0 25px;
}

.wfLink {
	font-size: 0.8em;
	float: right;
}