<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pollux Media Library{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                {% include 'logo.html.twig' %}
            </div>
        </div>
    </header>

    {% include 'main-navigation.html.twig' %}

    <div id="page-wrapper" class="{{ layoutType }}">
        <aside class="left-column">
            <nav class="nav-sidebar">
            {% block side_navigation %}{% endblock %}
            </nav>
        </aside>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <aside class="right-column">[:: right ::]</aside>
    </div>

    <footer>
        <div class="footer-content">
            <blockquote>
                <div class="text">"Ich hab da mal ein Legacytool gebastelt."</div>
                <span class="signature">-- F. Rusznyak</span>
            </blockquote>
        </div>
    </footer>
</body>
</html>
