<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pollux{% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('layer') }}
    {% endblock %}
</head>
<body>
<div id="site-wrapper">
    <div id="page-wrapper">
        <header class="container">
            <div id="header-content">
                <div id="logo">
                    {% include'_pollux-logo-black.svg.twig' %}
                </div>
                <h1 class="title">Media Library</h1>
            </div>
            <div style="clear: both"></div>
        </header>

        <div id="page-wrapper" class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                {% include '_main-navigation.html.twig' %}
            </nav>

            <div id="content">
                {% block body %}{% endblock %}
                <div class="clearfix"></div>
            </div>
        </div>

        <footer class="container">
            <figure>
                <blockquote class="col-7">
                    "You see, the computer that runs it is a rather advanced one. In fact it is more powerful than<br>
                    the sum total of all the computers on this planet including--and this is the tricky part--including
                    itself."
                </blockquote>
                <figcaption class="col-7">—Douglas Adams, <cite>Dirk Gently's Holistic Detective Agency</cite>
                </figcaption>
            </figure>
        </footer>
    </div>

    <div class="modal fade" id="exampleModalButton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal Titel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Das ist der Body von diesem <b>Modal</b></p><p>
                    </p></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <!-- <button type="button" class="btn btn-primary">Button</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
