<nav class="nav-main">
    <div class="nav-logo"></div>
    <div class="nav-item">
        <a href="{{ path('home') }}">Home</a>
    </div>
    <div class="nav-item">
        <a href="javascript:">Movies</a>
    </div>
    <div class="nav-item">
        <a href="javascript:">Books</a>
    </div>
{#    {% if isLoggedIn %}#}
        <div class="nav-item">
            <a href="{{ path('users') }}">Users</a>
        </div>
{#    {% endif %}#}
</nav>